.benefits {
	&-item {
		display: flex;
		flex-direction: column;
	}

	&-num {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $main;
		font-size: 12px;
		font-weight: 500;
		line-height: 14.4px;
		color: $white;
	}

	&-title {
		margin-top: 8px;
		font-size: 12px;
		font-weight: 700;
		color: $black;
	}

	&-caption {
		margin-top: 2px;
		font-size: 8px;
		font-weight: 400;
		line-height: 13.2px;
		color: $gray;
	}
}